<!DOCTYPE html>
<html lang="en">
{%load static%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'portal/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'portal/css/all-themes.css' %}">

    <title> IRMS - IGCAR</title>
</head>

<body style="padding-left: 10px">
    <h1> IRMS - Integrated Reports Management System - IGCAR </h1>
    <a href="{% url 'portal:report_types' %}" class="btn btn-info" role="button">Go To Reports Home</a>

<br><br>
      <form method="POST" action="{% url 'portal:circulation' %}" class="post-form">{% csrf_token %}
          <input type="date" name="from_date">From date </input><br>
          <input type="date" name="to_date">To date </input></br>

          <br>
          <b> Order By:</b><br>
          <input type="radio" name='order_by' value='issuedate'>Date
          <select name="issuedate_filter">
            <option value="ASC" selected>Ascending</option>
            <option value="DESC">Descending </option>
          </select>

          <br>
          <input type="radio" name='order_by' value='patron_name'>Name
          <select name="patron_name_filter">
            <option value="ASC" selected>Ascending</option>
            <option value="DESC">Descending </option>
          </select>

          <br>
          <input type="radio" name='order_by' value='book_title'>Book Title
          <select name="book_title_filter">
            <option value="ASC" selected>Ascending</option>
            <option value="DESC">Descending </option>
          </select>

        </br>
        </br>
          <button type="submit" class="btn btn-link">Submit</button>
      </form>
</body>
